<main class="home--main">
  <div></div>
  <h1>Expense Insight</h1>
  <div class="home--link--container">
    <%= link_to 'LOG IN', new_user_session_path %>
    <%= link_to 'SIGN UP', new_user_registration_path %>
  </div>
</main>